@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.layout {
  background: #f3e0e2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  margin: -2rem 0 5rem;
}

.font-text {
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 2rem;
  letter-spacing: 0.05rem;
  margin: 2rem 0 3rem;
}

.span {
  font-size: 1.2rem;
}

a.register-link {
  color: #00f !important; /* Màu xanh cho phần "Đăng ký" */
  margin-left: 5rem;
  cursor: pointer;
  color: #333;
  font-size: 1.4rem;
  text-decoration: none;
  margin: 1.5rem 0;
}

a.login-link {
  color: blue !important; /* Matching the login link color */
  cursor: pointer;
  color: #333;
  font-size: 1.4rem;
  text-decoration: none;
  margin: 1.5rem 0;
}

.button {
  border-radius: 2rem;
  border: 0.1rem solid #FF4B2B;
  background-color: #FF4B2B;
  color: #FFFFFF;
  font-size: 1.4rem; /* Adjust the font size */
  font-weight: bold;
  padding: 1rem 1rem; /* Adjust the padding as needed */
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

.form {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 5rem;
  height: 100%;
  text-align: center;
}

.input {
  background-color: #eee;
  border: none;
  padding: 1.2rem 1.5rem;
  margin: 0.8rem 0;
  width: 100%;
}

.container {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 1.4rem 2.8rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 76.8rem;
  max-width: 100%;
  min-height: 48rem;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
}

.log-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.register-container {
  right: 0;
  width: 50%;
  z-index: 2;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
}

.overlay {
  background: #FF416C;
  background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
  background: linear-gradient(to right, #FF4B2B, #FF416C);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #FFFFFF;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 4rem;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
}

.overlay-right {
  right: 0;
}

.social-container {
  display: flex;
  flex-direction: column;
}

.social-container a {
  border: 0.1rem solid #DDDDDD;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
  height: 4rem;
  width: 4rem;
}

.loginForm {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 0.5rem;
}

.remember-me {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  width: 20rem;
}

.remember-me input {
  margin-right: 0.5rem;
  width: 20%;
}

.remember-me label {
  display: inline-block;
  vertical-align: middle; /* Thêm thuộc tính này */
  margin-right: 1rem; /* Adjust as needed for spacing */
  font-size: 1.2rem;
}

.app-logo {
  display: flex;
  align-items: center;
  max-width: 100%;
  height: 10rem;
  background-color: #DDDDDD;
}

.app-logo img {
  max-width: 10rem;
  // margin-left: 2rem;
}

.radio-group {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  width: 100%;
}

.radio-group label {
  display: flex;
  align-items: center;
  margin-right: 2rem; /* Adjust the margin as needed for spacing */
  width: 10rem;
}

.radio-group input {
  margin-right: 0.5rem;
  width: 10%;
}