@use "../../components/GlobalStyles/GlobalStyles.scss" as *;
.wrapper {
    display: flex;
    flex-direction: row;
    // align-items: center;
}

.container {
    max-width: 100%;
    width: var(--default-layout-width);
    // display: flex;
    padding: 0 var(--default-layout-horizontal-spacer);

    @include big-tablet {
        width: 100%;
    }
}

.content {
    width: 100%;
}

.header-layout{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 2rem 0;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1.2rem 2.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  &:hover{
    background-color: var(--border-color);
  }
}