.card-video-profile{
    height: 30rem;
    width: 19.5rem;
    border-radius: 1rem;
    box-shadow: 0 0.3rem 0.5rem 0 rgba(0,0,0,0.5);
    overflow: hidden;
}


.player {
    object-fit: fill;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }