@use '../../components/GlobalStyles/GlobalStyles.scss' as *;
.edit-profile-layout {
}

.form {
    @include mobile {
        width: 80%;
    }
    @include tablet {
        width: 80%;
    }
    @include desktop {
        width: 80%;
    }
}
