@use '../../components/GlobalStyles/GlobalStyles.scss' as *;
.comment-layout {
    margin-left: 2rem;
    border: none 0.1rem black;
    border-radius: 2.5rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.75);
    width: 50%;
    text-align: left;
    padding: 2rem;
    max-height: 61rem;
}

.layout {
    position: relative;
    height: var(--heigth-container-video);
    width: var(--width-container-video);
    border-radius: 2.5rem;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }

    @include mobile {
        width: 100%;
    }
}

.content {
    max-height: 50rem;
    overflow-y: scroll;
    padding-right: 1rem;
}
