.profile-layout{
    padding: 2rem 0 2rem 4rem;
    text-align: start;
}
.avatar-name-layout{
    display: flex;
    width: 100%;
    align-content: flex-start;
    flex-wrap: wrap;
}
.name{
    font-size: 2.4rem;
    font-weight: 800;
}
.nickname{
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}
.icons-layout{
    display: flex;
    margin-left: 40%;
}
.follow-profile-layout{
    display: flex;
    margin-top: 1.5rem;
}
.text-layout{
    display: flex;
    font-size: 1.6rem;
    margin-right: 1.5rem;
}
.bold-text{
    font-weight: bold;
    margin-right: 0.5rem;
}
.description-profile{
    margin-top: 1rem;
    font-size: 1.6rem;
    text-align: justify;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
}
.tabbar-layout{
    margin-top: 1rem;
}

.unfollow-btn{
    color: var(--black);
}