.wrapper {
    border-top: 0.1rem solid #e3e3e4;
}

.list-account {
    max-height: 35.2rem;
    overflow: scroll;
    padding-right: 1rem;
}

.label {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 0.8rem;
    border-bottom: 1px solid var(--border-color);
    background: var(--primary);
    color: var(--white);
    margin: 1rem 0;
    border-radius: 0.5rem;
}

.account-item {
    display: flex;
    padding: 1.8rem;
    cursor: pointer;
    border-bottom: 1px solid var(--border-color);
    align-items: center;
}

.avatar {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    object-fit: cover;
}

.item-info {
    flex: 1;
    margin-left: 1.2rem;
}

.nickname {
    margin-top: 0;
    font-size: 1.6rem;
    line-height: 1;
    color: #161823;
}

.check {
    margin-left: 0.4rem;
    font-size: 1.4rem;
    color: #20d5ec;
}

.name {
    font-size: 1.2rem;
    opacity: #161823bf;
    margin-top: 1rem;
}

.more-btn {
    padding: 0.8rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fe2c55;
    cursor: pointer;
}
