.content {
    padding: 0 0.5rem;
    border-radius: 1rem;
}

.comment-focus {
    position: relative;
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background-color: var(--text-tab-color);
        animation-name: example;
        animation-duration: 1s;
        border-radius: 0.5rem;
        animation-fill-mode: forwards;
    }
}

@keyframes example {
    0% {
        z-index: 1;
        opacity: 0.5;
    }
    50% {
        z-index: 1;
        opacity: 0.5;
    }
    90% {
        opacity: 0;
    }
    100% {
        z-index: -1;
        opacity: 0;
    }
}
