#Create-video {
    :where(.css-dev-only-do-not-override-1hcz1v).ant-form-horizontal .ant-form-item-label {
        text-align: start;
    }

    :where(.css-dev-only-do-not-override-1hcz1v).ant-row {
        justify-content: center;
    }

    :where(.css-dev-only-do-not-override-1hcz1v).ant-upload-wrapper .ant-upload-drag {
        height: calc(var(--heigth-container-video) * 0.7);
        & .ant-upload {
            padding: 0;
        }
    }

    :where(.css-dev-only-do-not-override-1hcz1v).ant-upload-wrapper {
        display: flex;
        justify-content: center;
    }

    .timeline-editor-action {
        background-color: var(--on-primary);
        .timeline-editor-action-left-stretch::after {
            border-left-color: var(--primary);
        }
        .timeline-editor-action-right-stretch::after {
            border-right-color: var(--primary);
        }
    }

    .timeline-editor {
        ::-webkit-scrollbar-thumb {
            background-color: var(--primary);
        }

        ::-webkit-scrollbar-track {
            background-color: var(--on-primary);
        }
    }
}
