#Create-video {
    :where(.css-dev-only-do-not-override-1hcz1v).ant-form-horizontal .ant-form-item-label {
        text-align: start;
    }

    :where(.css-dev-only-do-not-override-1hcz1v).ant-row {
        justify-content: center;
    }

    :where(.css-dev-only-do-not-override-1hcz1v).ant-upload-wrapper .ant-upload-drag {
        height: calc(var(--heigth-container-video) * 0.7);
        & .ant-upload {
            padding: 0;
        }
    }

    :where(.css-dev-only-do-not-override-1hcz1v).ant-upload-wrapper {
        display: flex;
        justify-content: center;
    }

    .__remotion-player{
        height: calc(var(--heigth-container-video) * 0.7) !important;
        width: calc(var(--width-container-video) * 0.7) !important;
    }
}
