.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: min((100vh - 9.6rem) - 6rem, 73.4rem);

    // min-height: 20rem;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 12%) 0 0.2rem 1.2rem;
    border-radius: 0.8rem;
    padding-top: 0.8rem;
}
