@use '../../../components/GlobalStyles/GlobalStyles.scss' as *;
.wrapper {
    --search-border-radius: 9.2rem;
    --search-height: 4.6rem;
    --search-top-spacer: 0.9rem;
    --search-button-width: 5.2rem;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: var(--default-layout-header-height);
    box-shadow: 0 0.1rem 0.1rem rgb(0 0 0 / 12%);
    display: flex;
    background-color: white;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include big-tablet {
        width: 100%;
    }
}

.logo-link {
    display: flex;
}

// Action
.actions {
    display: flex;
    align-items: center;
}

.action-btn {
    font-size: 2.2rem;
    color: #161823;
    background-color: transparent;
    position: relative;
    display: flex;
    padding: 0.4rem 1rem;
    cursor: pointer;
}

.badge {
    position: absolute;
    top: -0.3rem;
    right: 0;
    padding: 0 0.6rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 1rem;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: var(--font-family);
    background-color: var(--primary);
    color: var(--white);
}

.user-avatar {
    width: 3.2rem;
    height: 3.2rem;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 1.4rem;
    cursor: pointer;
}

.more-btn {
    font-size: 2rem;
    margin-left: 2.8rem;
    background-color: transparent;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
}

//Menu
