.layout{
    height: 100vh;
    width: 15%;
    padding: 2rem 0;
    border-right: 1px solid var(--border-color);
}

.logo-link {
    display: flex;
}

.logo{
    margin: 2rem auto;
    margin-bottom: 2rem;
    width: fit-content;
}
